@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";

$fullPageWidth: $pageWidth + 1.4 * $sidePanelWidth;

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
}

body,
section {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  // background-image: url('background1.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  background-color: var(--lightgray);
  @media all and (max-width: $fullPageWidth) {
    background-color: var(--light);
  }
  // background-color: rgb(244, 244, 244);
  font-family: var(--bodyFont);
  color: var(--darkgray);
}

.text-highlight {
  background-color: var(--textHighlight);
  padding: 0 0.1rem;
  border-radius: 5px;
}
::selection {
  background: color-mix(in srgb, var(--tertiary) 60%, rgba(255, 255, 255, 0));
  color: var(--darkgray);
}

p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
  color: var(--darkgray);
  fill: var(--darkgray);
  hyphens: auto;
}

p,
ul,
text,
a,
li,
ol,
ul,
.katex,
.math {
  overflow-wrap: anywhere;
  /* tr and td removed from list of selectors for overflow-wrap, allowing them to use default 'normal' property value */
}

.math {
  &.math-display {
    text-align: center;
  }
}

strong {
  font-weight: $semiBoldWeight;
}

a {
  font-weight: $semiBoldWeight;
  text-decoration: none;
  transition: color 0.2s ease;
  color: var(--secondary);

  &:hover {
    color: var(--tertiary) !important;
  }

  &.internal {
    text-decoration: none;
    background-color: var(--highlight);
    padding: 0 0.1rem;
    border-radius: 5px;
    line-height: 1.4rem;

    &:has(> img) {
      background-color: none;
      border-radius: 0;
      padding: 0;
    }
    &.tag-link {
      &::before {
        content: "#";
      }
    }
  }

  &.external .external-icon {
    height: 1ex;
    margin: 0 0.15em;

    > path {
      fill: var(--dark);
    }
  }
}

.desktop-only {
  display: initial;
  @media all and (max-width: $fullPageWidth) {
    display: none;
  }
}

.mobile-only {
  display: none;
  @media all and (max-width: $fullPageWidth) {
    display: initial;
  }
}

.page {
  @media all and (max-width: $fullPageWidth) {
    margin: 0 auto;
    // padding: 0 1rem;
    padding: 0 0rem;
    max-width: 1.3*$pageWidth;
  }

  & article {
    & > h1 {
      font-size: 2rem;
    }

    & li:has(> input[type="checkbox"]) {
      list-style-type: none;
      padding-left: 0;
    }

    & li:has(> input[type="checkbox"]:checked) {
      text-decoration: line-through;
      text-decoration-color: var(--gray);
      color: var(--gray);
    }

    & li > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    p > strong {
      color: var(--dark);
    }
  }

  & > #quartz-body {
    width: 100%;
    display: flex;
    @media all and (max-width: $fullPageWidth) {
      flex-direction: column;
    }

    & .sidebar {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      top: 0;
      // width: $sidePanelWidth;
      width: calc($sidePanelWidth - 4.5rem) ;
      margin-top: $topSpacing;
      box-sizing: border-box;
      position: fixed;
      @media all and (max-width: $fullPageWidth) {
        position: initial;
        flex-direction: row;
        padding: 0;
        width: initial;
        margin-top: 2rem;
      }
    }

    & .sidebar.left {
      // left: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
      @media all and (min-width: $fullPageWidth) {
        padding: 0 1.5rem;
        left: 0.6em;
      }
      @media all and (max-width: $fullPageWidth) {
        gap: 0;
        align-items: center;
      }
    }

    & .sidebar.right {
      width: calc($sidePanelWidth - 6rem) ;
      // margin-right : 1em;
      // padding: 0 4rem;
      // right: -2em;
      @media all and (min-width: $fullPageWidth) {
        padding: 0 1.5rem;
        right: 0.6em;
      }
      // right: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth - 2.5rem);
      flex-wrap: wrap;
      & > * {
        @media all and (max-width: $fullPageWidth) {
          flex: 1;
          min-width: 140px;
        }
      }
    }
  }

  & .page-header,
  & .page-footer {
    width: calc(100vw - 2 * $sidePanelWidth);
    // width: $pageWidth;
    background-color: var(--light);
    margin-top: 1rem;

    @media all and (max-width: $fullPageWidth) {
      width: initial;
    }
  }

  & .page-header {
    margin: $topSpacing auto 0 auto;
    @media all and (max-width: $fullPageWidth) {
      margin-top: 2rem;
    }
  }

  & .center,
  & footer {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light);
    width: calc(100vw - 2 * $sidePanelWidth);
    // width: $pageWidth;
    @media all and (max-width: $fullPageWidth) {
      width: initial;
      margin-left: 0;
      margin-right: 0;
      padding: 0 1rem;
    };
    @media all and (min-width: $pageWidth) {
      padding: 0 4rem;
    }
  }
}

.footnotes {
  margin-top: 2rem;
  background-color: var(--light);
  border-top: 1px solid var(--lightgray);
}

input[type="checkbox"] {
  transform: translateY(2px);
  color: var(--secondary);
  border: 1px solid var(--lightgray);
  border-radius: 3px;
  background-color: var(--light);
  position: relative;
  margin-inline-end: 0.2rem;
  margin-inline-start: -1.4rem;
  appearance: none;
  width: 16px;
  height: 16px;

  &:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 8px;
      display: block;
      border: solid var(--light);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

blockquote {
  margin: 1rem 0;
  border-left: 3px solid var(--secondary);
  padding-left: 1rem;
  transition: border-color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-family: var(--headerFont);
  color: var(--dark);
  font-weight: revert;
  margin-bottom: 0;

  article > & > a[role="anchor"] {
    color: var(--dark);
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id] > a[href^="#"] {
    margin: 0 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    transform: translateY(-0.1rem);
    font-family: var(--codeFont);
    user-select: none;
  }

  &[id]:hover > a {
    opacity: 1;
  }
}

// typography improvements
h1 {
  font-size: 1.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

figure[data-rehype-pretty-code-figure] {
  margin: 0;
  position: relative;
  line-height: 1.6rem;
  position: relative;

  & > [data-rehype-pretty-code-title] {
    font-family: var(--codeFont);
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid var(--lightgray);
    width: max-content;
    border-radius: 5px;
    margin-bottom: -0.5rem;
    color: var(--darkgray);
  }

  & > pre {
    padding: 0;
  }
}

pre {
  font-family: var(--codeFont);
  padding: 0 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid var(--lightgray);
  position: relative;

  &:has(> code.mermaid) {
    border: none;
  }

  & > code {
    background: none;
    padding: 0;
    font-size: 0.85rem;
    counter-reset: line;
    counter-increment: line 0;
    display: grid;
    padding: 0.5rem 0;
    overflow-x: scroll;

    & [data-highlighted-chars] {
      background-color: var(--highlight);
      border-radius: 5px;
    }

    & > [data-line] {
      padding: 0 0.25rem;
      box-sizing: border-box;
      border-left: 3px solid transparent;

      &[data-highlighted-line] {
        background-color: var(--highlight);
        border-left: 3px solid var(--secondary);
      }

      &::before {
        content: counter(line);
        counter-increment: line;
        width: 1rem;
        margin-right: 1rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, 0.6);
      }
    }

    &[data-line-numbers-max-digits="2"] > [data-line]::before {
      width: 2rem;
    }

    &[data-line-numbers-max-digits="3"] > [data-line]::before {
      width: 3rem;
    }
  }
}

code {
  font-size: 0.9em;
  color: var(--dark);
  font-family: var(--codeFont);
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  background: var(--lightgray);
}

tbody,
li,
p {
  line-height: 1.6rem;
}

.table-container {
  overflow-x: auto;

  & > table {
    margin: 1rem;
    padding: 1.5rem;
    border-collapse: collapse;

    th,
    td {
      min-width: 75px;
    }

    & > * {
      line-height: 2rem;
    }
  }
}

th {
  text-align: left;
  padding: 0.4rem 0.7rem;
  border-bottom: 2px solid var(--gray);
}

td {
  padding: 0.2rem 0.7rem;
}

tr {
  border-bottom: 1px solid var(--lightgray);
  &:last-child {
    border-bottom: none;
  }
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem 0;
}

p > img + em {
  display: block;
  transform: translateY(-1rem);
}

hr {
  width: 100%;
  margin: 2rem auto;
  height: 1px;
  border: none;
  background-color: var(--lightgray);
}

audio,
video {
  width: 100%;
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

div:has(> .overflow) {
  position: relative;
}

ul.overflow,
ol.overflow {
  max-height: 400;
  overflow-y: auto;

  // clearfix
  content: "";
  clear: both;

  & > li:last-of-type {
    margin-bottom: 30px;
  }

  &:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    background: transparent;
    // background: linear-gradient(transparent 0px, var(--light));
  }
}

.transclude {
  ul {
    padding-left: 1rem;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}



:root[saved-theme="dark"] {
  --callout-blue :  rgba(211, 209, 255, 0.6);
  --callout-blueBG :  rgba(0, 0, 255, 0.6);

  --callout-purple: rgba(227, 209, 255, 0.6);
  --callout-purpleBG:  rgba(102, 0, 255, 0.6) ;

  --callout-green: rgba(194, 255, 195, 0.6);
  --callout-greenBG: rgba(0, 139, 5, 0.6);

  --callout-red: rgba(255, 201, 201, 0.6);
  --callout-redBG: rgba(255, 0, 0, 0.6);

  --callout-yellow: rgba(255, 255, 185, 0.6);
  --callout-yellowBG: rgba(255, 238, 1, 0.6);
}

:root[saved-theme="light"] {
  --callout-blue :  rgba(0, 0, 255, 0.6);
  --callout-blueBG :  rgba(211, 209, 255, 0.6);

  --callout-purple:  rgba(102, 0, 255, 0.6) ;
  --callout-purpleBG: rgba(227, 209, 255, 0.6);

  --callout-green: rgba(0, 139, 5, 0.6);
  --callout-greenBG: rgba(194, 255, 195, 0.6);

  --callout-red: rgba(255, 0, 0, 0.6);
  --callout-redBG: rgba(255, 201, 201, 0.6);

  --callout-yellow: rgb(255, 200, 1);
  --callout-yellowBG: rgba(255, 237, 185, 0.6);
}

.callout {
  &[data-callout="thm"] {
    --color: var(--callout-blue);
    --border: var(--callout-blue);
    --bg: var(--callout-blueBG);
    --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E"); //SVG icon code
  }
}

.callout {
  &[data-callout="dem"] {
    --color: var(--callout-purple);
    --border: var(--callout-purple);
    --bg: var(--callout-purpleBG);
    --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z'/%3E%3C/svg%3E"); //SVG icon code
  }
}

.callout {
  &[data-callout="def"] {
    --color: var(--callout-green);
    --border: var(--callout-green);
    --bg: var(--callout-greenBG);
    --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E"); //SVG icon code
  }
}

.callout {
  &[data-callout="rem"] {
    --color: var(--callout-yellow);
    --border: var(--callout-yellow);
    --bg: var(--callout-yellowBG);
    --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-alert'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cline x1='12' x2='12' y1='8' y2='12'/%3E%3Cline x1='12' x2='12.01' y1='16' y2='16'/%3E%3C/svg%3E"); //SVG icon code
  }
}

.callout {
  &[data-callout="exo"] {
    --color: var(--callout-red);
    --border: var(--callout-red);
    --bg: var(--callout-redBG);
    --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-notepad-text'%3E%3Cpath d='M8 2v4'/%3E%3Cpath d='M12 2v4'/%3E%3Cpath d='M16 2v4'/%3E%3Crect width='16' height='18' x='4' y='4' rx='2'/%3E%3Cpath d='M8 10h6'/%3E%3Cpath d='M8 14h8'/%3E%3Cpath d='M8 18h5'/%3E%3C/svg%3E"); //SVG icon code
  }
}

// Ancienne version, inutilement compliquée

// $callout-blue :  rgba(0, 0, 255, 0.6);
// $callout-blueBG :  rgba(211, 209, 255, 0.6);

// $callout-purple:  rgba(102, 0, 255, 0.6) ;
// $callout-purpleBG: rgba(227, 209, 255, 0.6);

// $callout-green: rgba(0, 139, 5, 0.6);
// $callout-greenBG: rgba(194, 255, 195, 0.6);

// $callout-red: rgba(255, 0, 0, 0.6);
// $callout-redBG: rgba(255, 201, 201, 0.6);

// $callout-yellow: rgba(255, 238, 1, 0.6);
// $callout-yellowBG: rgba(255, 255, 185, 0.6);

// .callout {
//   &[data-callout="thm"] {
//     --color: #{$callout-blue};
//     --border: #{$callout-blue};
//     --bg: #{$callout-blueBG};
    
//     color: var(--color);
//     border-color: var(--border);
//     background-color: var(--bg);
//     --callout-icon: url("data:image/svg+xml; utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E"); //SVG icon code
//   }
// }